<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="./">
        <img src="{{root}}/assets/img/Opus-Logo-2019-45px.png" alt="opus">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="header-navbar-collapse">
        <ul id="menu-header" class="nav navbar-nav navbar-right">
          <li id="menu-item-658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-658 dropdown">
            <a title="About" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">About <span class="caret"></span></a>
            <ul role="menu" class=" dropdown-menu">
              <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
                <a title="About Us" href="#">About Us</a>
              </li>
              <li id="menu-item-657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-657">
                <a title="Our Work" href="#">Our Work</a>
              </li>
            </ul>
          </li>
          <li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-25 dropdown">
            <a title="Services" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Services <span class="caret"></span></a>
            <ul role="menu" class=" dropdown-menu">
              <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a title="Residential Construction" href="">Residential Construction</a></li>
              <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a title="Commercial Construction" href="">Commercial Construction</a></li>
              <li id="menu-item-394" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-394"><a title="Architecture &amp; Interior Design" href="">Architecture &#038; Interior Design</a></li>
              <li id="menu-item-476" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-476"><a title="Landscaping Design &amp; Pool/Spa" href="">Landscaping Design &#038; Pool/Spa</a></li>
            </ul>
          </li>
          <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
            <a title="Testimonials" href="testimonials.html">Testimonials</a>
          </li>
          <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
            <a title="Contact Us" href="contact_us.html">Contact Us</a>
          </li>
      </ul>
    </div><!-- .navbar-collapse -->
  </div><!-- .container -->
</nav>
