<div class="top-bar">
  <div class="container">
    <ul class="top-bar__social-links">
      <li>
        <a class="social__facebook" href="https://www.facebook.com/opusonedesignbuild" target="_blank"></a>
      </li>
      <li>
        <a class="social__twitter" href="https://twitter.com/opusonedesign" target="_blank"></a>
      </li>

      <li>
        <a class="social__insta" href="https://www.instagram.com/opusonedesignbuild/" target="_blank"></a>
      </li>

      <li>
        <a class="social__pinterest" href="https://www.pinterest.com/opusonedesign/" target="_blank"></a>
      </li>
    </ul>

    <span>Follow The Leader</span>
  </div><!-- .container -->
</div><!-- .top-bar -->
